{% extends "index.html" %}



{% block content %}

       
<section class="container-fluid  about-coo">
    <div class="container">
     
        <div class="row about-row">
            <div class="col-md-6 about-img">
                <img src="https://images.pexels.com/photos/3259629/pexels-photo-3259629.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            </div>
            <div class="col-md-6 about-text">
                <h1>We are the Leading Cloud Service Provider</h1>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has.</p>
                 <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has.</p>
                <div class="about-featur">
                    <ul>
                        <li><i class="fa fa-check"></i> Boost SEO Sharing</li>
                        <li><i class="fa fa-check"></i> Social Sharing</li>
                        <li><i class="fa fa-check"></i> Marketing</li>
                        <li><i class="fa fa-check"></i> Retention</li>
                        <li><i class="fa fa-check"></i> Visual Review</li>
                        <li><i class="fa fa-check"></i> Review Generation</li>
  
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </section>   


{% endblock %}